* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

div {
    overflow: visible;
}

.input-container {
    margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
    .block-dislikers .title,
    .block-likers .title {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    .block-dislikers .title,
    .block-likers .title {
        font-size: 0.9em;
    }
    body .block-info {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    body .content {
        margin-top: 35px;
        width: 100%;
        padding: 10px;
    }

    #toggle-show-info {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .type-container {
        display: flex;
        height: 30px;
        padding: 3px;
    }

    .top-cards-container {
        flex-wrap: wrap;
    }

    .top-cards-container .card-profile {
        width: 100%;
        margin-bottom: 10px;
    }

    .top-cards-container .card-progress,
    .top-cards-container .card-stat {
        width: calc(50% - 20px);
    }

    #user_url {
        height: 100%;
        flex: 1;
        margin-right: 10px;
    }

    #go_go_go {
        height: 100%;
        width: 50px;
    }

    .card-comments-container,
    .card-likes-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card-likes-container,
    .card-comments-container {
        margin-bottom: 10px;
    }

    .card-comments-container .card-comments-progress-counted-block,
    .card-comments-container .card-comments-progress-total-block,
    .card-comments-container .card-comments-progress-time-block,
    .card-likes-container .card-likes-progress-likes-block,
    .card-likes-container .card-likes-progress-dislikes-block,
    .card-likes-container .card-likes-progress-total-block {
        display: flex;
        width: 100%;
    }

    .stat-label {
        margin-right: 5px;
    }

    #block-likers .stat-record,
    #block-dislikers .stat-record {
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .block-stat-likes-count,
    .block-stat-dislikes-count {
        min-width: 25px;
    }
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-top: 20px;
}

#error {
    color: red;
}

ul {
    margin: 0;
}

.block-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 300px;
    background: white;
    justify-content: space-between;
    transform: translateY(-160px);
    transition: transform 500ms ease-in-out;
}

.block-info .show {
    transform: translateY(0);
}

.block-info-main {
    padding: 5px;
}

.toggle-show-info {
    background-color: rgb(196, 196, 196);
    height: 20px;
}

.toggle-show-info:hover {
   cursor: pointer;
}

.toggle-show-text {
    text-align: center;
}

#user_url {
    width: 300px;
}

.top-cards-container {
    display: flex;
    justify-content: space-between;
}

.profile-ava {
    width: 30%;
}

#profile-ava {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile-info {
    width: 60%;
}

.profile-ava, .profile-info {
    padding: 5px;
    height: 100%;
    float: left;
}

#profile-ava {
    width: 100%;
}

.profile-karma-positive {
    color: #58b132;
}

.profile-karma-negative {
    color: #ff402f;
}

.block-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.block-likers, .block-dislikers {
    width: calc(50% - 20px);
    display: inline-table;
    min-height: 300px;
    float: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.block-stat-likes-count {
    float: right;
    color: #58b132;
}

.block-stat-dislikes-count {
    float: right;
    color: #ff402f;
}

.block-stat-name {
    float: left;
}

.card-progress, .card-profile, .card-stat {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 160px;
    float: left;
}

.card-profile {
    width: 30%;
}

.card-progress {
    width: 32%;
}

.card-stat {
    width: 32%;
}

.card-progress, .card-profile, .card-stat {
    padding: 1%;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.block-dislikers, .block-likers {
    font-size: 1.2em;
}

.stat-record {
    height: 30px;
    clear: both;
}

.card-comments-progress-total-block, .card-comments-progress-counted-block, .card-comments-progress-time-block {
    width: 33%;
    float: left;
    text-align: center;
}

#card-comments-progress-total, #card-comments-progress-counted {
    font-weight: bold;
}

.card-comments-progress-bar-bg {
    width: 100%;
    height: 20px;
    background-color: rgba(107, 107, 107, 0.36);
    clear: both;
    border-radius: 25px;
}

#card-comments-progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: #000000;
}

.card-likes-progress-likes-block, .card-likes-progress-dislikes-block, .card-likes-progress-total-block {
    width: 33%;
    float: left;
    text-align: center;
}

#card-likes-progress-total, #card-likes-progress-likes, #card-likes-progress-dislikes {
    font-weight: bold;
}

.card-likes-progress-bar-bg {
    width: 100%;
    height: 20px;
    background-color: #ff402f;
    clear: both;
    border-radius: 25px;
}

#card-likes-progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: #58b132;
}
@media (prefers-color-scheme: dark) {
        body
        {
            background-color: #1b1b1b;
            color: #bfbfbf;
        }
        .card-progress, .card-profile, .card-stat, .block-likers, .block-dislikers, input, .block-info, .toggle-show-info
        {
            background-color: #292929
        }
        input:focus
        {
            background-color: #000;
        }
        input
        {
            border: 1px solid #fef7cf;
        }
        input, a:hover, .toggle-show-info:hover
        {
            color: #fef7cf;
        }
        a
        {
            color: #c9e7f2;
        }
    }
